scraper/linkedin/session/state.json
etl/__pycache__
etl/__pycache__/extraction.cpython-310.pyc
# Python cache
__pycache__/
*.pyc
*.pyo
etl/__pycache__/extraction.cpython-310.pyc
demo.py
extracted_data\naukri_data\naukri_link_data.csv
extracted_data\naukri_data\naukri_raw_jobs.csv
processed_data\naukri\naukri_clean_data.csv


.env
.env*
